@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ebebeb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-rubik: var(--font-rubik);
  --font-alikeAngular: var(--font-alikeAngular);
  --color-darkgrey500: #424242;
  --color-stone500: #9faeb5;
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: Rubik, Arial, sans-serif;
  }
}

@layer components {
  .image-license {
    @apply bg-[#424242] text-sm;
  }
}
